@import url("../node_modules/jstree/dist/themes/default/style.css");
@import url("../node_modules/xterm/dist/xterm.css");
/*@import url("../node_modules/jquery-ui-bundle/jquery-ui.css");*/
@import url("../node_modules/jquery-contextmenu/dist/jquery.contextMenu.css");
@import url("../lib/layout/layout-default-latest.css");
@import url("../lib/menubar/jquery.menubar.css");
@import url("../lib/combobox/ui.combobox.css");
@import url("../lib/overflowResize/ui.tabs.overflowResize.css");
@import url("../lib/basicMenu/ui.basicMenu.css");
@import url("../lib/diff2html/diff2html.css");
@import url("../lib/showPassword/showPassword.css");

body{
	font-size: 12px;
	margin: 0;
	overflow-y: hidden;
}

/* prevent ios context menu */
body { -webkit-touch-callout: none !important; }
a { -webkit-user-select: none !important; }

textarea, input{
	background-image: none !important;
}

a input {
	vertical-align: -2px;
}

::-webkit-scrollbar {
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track {
	background-color: transparent;
}

::-webkit-scrollbar-thumb {
	background-color: #bbb;
	border-radius: 4px;
	box-shadow: inset 0 0 1px 1px black;
}

::-webkit-scrollbar-thumb:hover {
	background-color: #aaa;
}

#main-container{
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	overflow: hidden;
}

/* START LAYOUT */
.ui-layout-container .ui-layout-pane {
	padding: 0;
}

/* GLOBAL LAYOUT STYLES */
.ui-layout-content {
	border-top: 0 !important; /* tab-buttons above this DIV already has a border-bottom */
	padding: 0;
}

/* show tree menu */
.ui-layout-west .ui-layout-content{
	overflow: auto;
	width: 100%;
}

.ui-layout-west .ui-tab{
	margin: 0 !important;
}

/* ensure site menu can be seen */
.ui-layout-west{
	overflow: visible !important
}

.ui-layout-content > div {
	height: 100%;
}

.ui-layout-north {
	overflow: hidden;
}

/* TAB-THEME ADJUSTMENTS */
.ui-widget-header, .ui-tabs .ui-tabs-panel {
	font-size: 1em;
}

.ui-widget-shadow {
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
}

.ui-tabs .ui-tabs-panel {
	padding: 0 !important;
	border-radius: 0 !important;
}

.ui-layout-west li[role=tab]{
	text-align: center;
	max-width: 50px;
	border-radius: 20px !important;
	transition: border-radius .3s;
}

.expanded li[role=tab]{
	border-radius: 0 !important;
}

.ui-layout-west li:not(.ui-tabs-active):not(.ui-state-hover){
	background: none;
}

.ui-layout-west .ui-tabs-nav {
	max-width: 50px;
	background-image: none;
}

.container-west {
	height: 100%;
}

.ui-tabs-anchor{
	float: left;
	height: 21px;
	line-height: 21px;
}

.ui-tabs .ui-tabs-panel{
	background: initial;
}

/*
 *	CENTER-PANE TABS
 *
 *	These tabs have white-space around them,
 *	so the content-div provides the border for the tabs
 */
.ui-layout-pane-center {
	padding: 10px;
}

.ui-tabs .ui-tabs-tab, .ui-tabs .ui-tabs-nav, .ui-layout-container .ui-layout-pane, .ui-state-default, .ui-widget-header, .ui-checkboxradio-label, .custom-combobox-toggle, .text, button{
	border-radius: 0 !important;
	border: 0 !important;
}

select.ui-state-default {
	background-image: none !important;
}

.ui-sortable-placeholder{
	margin: 0 !important;
}

.ui-tabs .ui-tabs-nav{
	padding: 0 !important;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-active {
	margin-bottom: 0 !important;
	padding-bottom: 0 !important;
}

.ui-tabs-panel .ui-widget-header {
	background-image: none !important;
}

.ui-checkboxradio-icon{
	background-color: transparent !important;
}

.ui-icon-check {
	background-position: -64px -144px !important;
}

.ui-icon-blank {
	background-position: 16px 16px !important;
}

div.buttons {
	float: right;
	margin-right: 200px;
	margin-top:	0;
}

/* END LAYOUT */

/* Tabs */
li[role=tab] a {
	padding: 2px 9px 1px;
	margin-bottom: -1px;
	overflow: visible;
}

li[role=tab] .ui-icon {
	display: inline-block;
	margin-right: 5px;
	margin-top: 2px;
	vertical-align: bottom;
}

.addTab{
	background-position: top;
	margin-left: 2px !important;
	height: 100%;
}

/* Mobile Menubar */
.mobileButton .ui-menu{
	overflow: scroll;
}

.ui-menubar .header{
	font-style: italic;
	opacity: 1 !important;
}

.mobileButton {
	display: none;
}

.ui-menu img{
	border-radius: 24px;
	vertical-align: middle;
	margin-right: 10px;
}

@media screen and (max-width: 600px) {
	.mobileButton {
		display: list-item;
	}
	.desktopButton {
		display: none;
	}
}

/* Menubar */
.ui-menubar .ui-menu{
	width: 300px;
	max-height: calc(100vh - 50px);
}

.ui-menubar .ui-button{
	padding: .6em 1em;
}

.status_bar .ui-menu{
	overflow: scroll;
}

.ui-menubar, .ui-widget {
	font-size: 1em;
	line-height: 1em;
}

.ui-widget {
	/*line-height: 2em !important;*/
}

.ui-menubar .ui-button-icon-secondary{
	display: none;
}

.ui-menu-item {
	display: block;
}

.ui-menu-item a{
	text-decoration: none;
}

.ui-menu-item .check {
	position: relative;
	left: -20px;
	width: 0;
}

.ui-selectmenu-menu, .ui-autocomplete{
	max-height: 300px;
	overflow-x: hidden;
	overflow-y: scroll;
	z-index: 1000000 !important;
}

.menu-item {
	display: flex;
	justify-content: space-between;
}

.menu-item .label {
	min-width: 160px;
	display: inline-block;
}

.menu-item .shortcut {
	color: gray;
	text-align: right;
	display: inline-block;
}

.context-menu-list {
	min-width: 280px !important;
}

.context-menu-item {
	line-height: 2.4em;
	padding: 0 2em;
}

/* dialogs */
.ui-dialog{
	padding: 0 !important;
	z-index: 100 !important;
}

.ui-dialog-titlebar{
	border-radius: 0 !important;
}

.no-close .ui-dialog-titlebar-close {
	display: none;
}

#refresh_site, #siteNenuBtn {
	border-style: hidden !important;
}

.ui-button:focus{
	outline: none;
}

.ui-widget-overlay
{
	background-image: none !important;
	opacity: .50 !important; /* Make sure to change both of these, as IE only sees the second one */
	filter: Alpha(Opacity=50) !important;
	background-color: rgb(50, 50, 50) !important; /* This will make it darker */
}

/* START TREE */
/*
.jstree .folder { background:url('images/icons/file_sprite.png') right bottom no-repeat; }
.jstree .file { background:url('images/icons/file_sprite.png') 0 0 no-repeat; }
.jstree .file-pdf { background-position: -32px 0 }
.jstree .file-as { background-position: -36px 0 }
.jstree .file-c { background-position: -72px 0 }
.jstree .file-iso { background-position: -108px 0 }
.jstree .file-htm, .jstree .file-html, .jstree .file-xml, .jstree .file-xsl { background-position: -126px 0 }
.jstree .file-cf { background-position: -162px 0 }
.jstree .file-cpp { background-position: -216px 0 }
.jstree .file-cs { background-position: -236px 0 }
.jstree .file-sql { background-position: -272px 0 }
.jstree .file-xls, .jstree .file-xlsx { background-position: -362px 0 }
.jstree .file-h { background-position: -488px 0 }
.jstree .file-crt, .jstree .file-pem, .jstree .file-cer { background-position: -452px -18px }
.jstree .file-php { background-position: -108px -18px }
.jstree .file-jpg, .jstree .file-jpeg, .jstree .file-png, .jstree .file-gif, .jstree .file-bmp { background-position: -126px -18px }
.jstree .file-ppt, .jstree .file-pptx { background-position: -144px -18px }
.jstree .file-rb { background-position: -180px -18px }
.jstree .file-text, .jstree .file-txt, .jstree .file-md, .jstree .file-log, .jstree .file-htaccess { background-position: -254px -18px }
.jstree .file-doc, .jstree .file-docx { background-position: -362px -18px }
.jstree .file-zip, .jstree .file-gz, .jstree .file-tar, .jstree .file-rar { background-position: -416px -18px }
.jstree .file-js { background-position: -434px -18px }
.jstree .file-css { background-position: -144px 0 }
.jstree .file-fla { background-position: -398px 0 }
*/

.jstree-table-header-regular, .jstree-table-column {
	padding: 0.6em !important;
}

/* force tree table height to 100% */
.jstree-table-wrapper{
	height: 100%;
}

.jstree-table-cell-regular{
	opacity: 0.8;
}

.jstree-table-cell{
	background-image: none !important;
}

.jstree-default .jstree-anchor, .jstree-ocl {
	cursor: default;
}

.vakata-context .vakata-contextmenu-shortcut{
	display: inline;
	opacity: 1;
	margin-left: auto;
}

.vakata-context, .vakata-context ul {
	z-index: 999 !important;
	min-width: 200px;
}

.vakata-context li > a {
	display: flex;
}

.filter{
	width: 100%;
	display: block;
}
/* END TREE */
.revisionsContainer{
	flex-wrap: wrap;
	height: 100%;
}

#revisionHolder {
	overflow: auto;
}

.revisions{
	min-width: 250px;
	margin-right: 10px;
	margin-bottom: 10px;
	flex: 1;
	height: auto !important;
}

#revisionDiff {
	flex: 4;
	min-width: 250px;
	min-height: 100%;
}

#revisionFileHolder {
	padding-bottom: 10px;
}

.revisionFile-menu {
	height: 200px;
}

.revisionFile-button{
	width: auto !important;
}

#revision{
	position: relative;
	width: 100%;
	height: 100%;
}

#revision .date{
	display: block;
}

#revision .author{
	font-size: 12px;
}

#serverProgress {
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1000000; /* higher than modal windows */
	margin: 10px;
	opacity: 0.8;
	text-align: center;
}

#serverProgress strong{
	/*background: #f9edbe;*/
	padding: 5px;
	border-radius: 5px;
	border: 1px solid #f0c36d;
}

#shortcutsSheet{
	position: absolute;
	top: 0;
	left: 0;
	width: calc(100% - 20px);
	height: calc(100% - 20px);
	background: #000;
	color: white;
	overflow: auto;
	z-index: 10;
	border-radius: 10px;
	margin: 10px;
	opacity: 0.8;
}

/* syntax errors */
.editor_status{
	/*background: #C8E2F9;*/
	font-size: 11px;
	padding: 2px;
	overflow: none;
	white-space: nowrap;
	border: 1px solid transparent;
}

.editor_status button span{
	font-size: 10px;
}

.editor_status button[disabled]{
	opacity: 0.5;
}

body.fullScreen .editor, body.fullScreen .ui-layout-content, body.fullScreen .ui-layout-pane{
	position: static !important;
}

div.fullScreen{
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: auto !important;
	width: auto !important;
	z-index: 3;
}

.fullScreenBtn{
	position: absolute;
	top: 15px;
	right: 15px;
	width: 15px;
	height: 15px;
	cursor: pointer;
	z-index: 1000;
	opacity: 0.4;
}

.fullScreenBtn:hover{
	opacity:1;
}

/* autocomplete issue on mobile view */
.ace_doc-tooltip{
	overflow: hidden;
}

.ace_gutter-cell.ace_breakpoint{
	background-image: url(/images/icons/breakpoint.png);
	background-position: 4px center;
}

/* revisions */
.ace_added{
	background: #eaf2c2;
	position: absolute;
}

.ace_removed{
	background: #fadad7;
	position: absolute;
}

#quickOpenSearch, #quickOpenFile{
	width: 100%;
}

#siteMenu {
	position: absolute;
	z-index: 2;
}

#siteSettings p, #snippetForm p, #serverSettings p{
	display: flex;
	vertical-align: middle;
	align-items: center;
}

#siteSettings input[name=port], #siteSettings input[name=timeout]{
	max-width: 50px;
}

#siteSettings label, #snippetForm label, .tidy label{
	display: inline-block;
	line-height: 16px;
}

#siteSettings label:first-child, #serverSettings label:first-child, #masterPasswordForm label:first-child, .tidy label:first-child{
	display: inline-block;
	min-width: 110px;
	width: 110px;
	padding: 0;
}

#siteSettings #portContainer label{
	min-width: auto;
	width: auto;
}

#siteSettings input, #siteSettings textarea, #siteSettings .custom-show-password-container, #snippetForm input{
	flex-grow: 1;
}

#siteSettings input[type=checkbox], #snippetForm input[type=checkbox]{
	flex-grow: 0;
}

#siteSettings .ui-menu {
	position: absolute;
	width: 70px;
}

#siteSettings .hbox label:first-child{
	min-width: 110px;
	padding: 0;
}

#siteTabs li {
	width: auto;
}

#addTypeRadio i{
	padding-bottom: 5px;
}


#cloudRadio .ui-button{
	width: 100px;
}

#hosted_container .ui-checkboxradio-label, #stack_container .ui-checkboxradio-label, #providerRadio .ui-checkboxradio-label{
	font-size: 36px;
}

/*ui-state-active*/

#test_iframe{
	width: 640px;
	height: 480px;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	display: none;
}

/* chat panel */
#dialog-chat{
	display: flex;
}

.chats{
	float: left;
	width: 80px;
	height: 100%;
	overflow: auto;
}

.chats ul{
	width: 100%;
	height: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
}

.chats a{
	padding: 2px;
	display: block;
	text-decoration: none;
}

.chats .unread{
	font-weight: bold;
}

.user {
	background: transparent !important;
	text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
	-webkit-font-smoothing: antialiased
}

.other_cursor{
	position: relative;
	font-size: 10px;
	padding: 2px 4px;
	color: #fff;
	text-shadow: 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black, 0 0 1px black;
	-webkit-font-smoothing: antialiased;
	z-index: 1;
}

.messagePanel{
	flex-grow: 1;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start; /* align items in Main Axis */
	align-items: stretch; /* align items in Cross Axis */
	align-content: stretch; /* Extra space in Cross Axis */
}

#dialog-chat #messages{
	height: 100%;
	flex-grow: 1;
	overflow: auto;
}

#dialog-chat #message{
	width: 100%;
	height: 80px;
	align-self: base-line;
}

#dialog-ssh {
	overflow: visible;
}

#ssh p{
	display: flex;
	vertical-align: middle;
	align-items: center;
}

#ssh input[name=port], #ssh input[name=timeout]{
	max-width: 50px;
}

#ssh label{
	display: inline-block;
	padding-left: 10px;
	padding-right: 4px;
	line-height: 16px;
}

#ssh label:first-child{
	min-width: 110px;
	width: 110px;
	padding: 0;
}

#ssh #portContainer label{
	min-width: auto;
	width: auto;
}

#ssh label.ui-button{
	padding: 0;
}

#ssh input, #ssh textarea{
	flex-grow: 1;
}

#ssh input[type=checkbox]{
	flex-grow: 0;
}

#ssh .ui-menu {
	position: absolute;
	width: 70px;
}

#ssh .delete{
	left: 40px;
}

.sshContainer{
	overflow: hidden;
	background: #000;
}

/* TERMINAL */
.terminal {
	padding: 10px;
}

#findForm{
	display: flex;
	flex-direction: column;
	overflow: hidden;
	height: 100%;
}

#findForm #findInRadio, #findForm #findButtons{
	height: 36px;
	max-height: 36px;
}

#findForm .ta{
	flex: 2;
}

#findForm .row{
	display: flex;
	vertical-align: middle;
	align-items: center;
	margin: 0 2px;
}

#findForm .findHolder{
	position: relative;
}

#findForm .findHolder #findStatus{
	position: absolute;
	bottom: 10px;
	right: 15px;
	opacity: 0.5;
}

#findForm .findHolder textarea{
	padding-bottom: 2em;
	height: calc(100% - 3em);
}

#findForm #findNextBtn{
	margin-right: 0;
}

#findForm progress{
	width: 100%;
}

#findForm textarea{
	padding: 5px;
	height: calc(100% - 14px);
	resize: none;
}

#findForm input[name=port], #findForm input[name=timeout]{
	max-width: 50px;
}

#findForm input, #findForm textarea{
	flex-grow: 1;
}

#findForm input[type=checkbox]{
	flex-grow: 0;
}


#findForm button{
	white-space: nowrap;
}

#findForm .ui-menu {
	position: absolute;
	width: 70px;
}

#findResults {
	display: none;
	margin: 10px;
	overflow: scroll;
	flex: 1;
}

.ui-progressbar-value {
	background-color: #ccc;
}

#uploadUrlForm p{
	display: flex;
	vertical-align: middle;
	align-items: center;
}

#uploadUrlForm label{
	display: inline-block;
	padding-left: 10px;
	padding-right: 4px;
	line-height: 16px;
}

#uploadUrlForm label:first-child{
	min-width: 110px;
	padding: 0;
}

#uploadUrlForm label.ui-button{
	padding: 0;
}

#uploadUrlForm input, #uploadUrlForm textarea{
	flex-grow: 1;
}

#uploadUrlForm input[type=checkbox]{
	flex-grow: 0;
}

#uploadUrlForm .ui-menu {
	position: absolute;
	width: 70px;
}

#uploadUrlForm .custom-combobox {
	flex: 1;
}

#uploadUrlForm .custom-combobox-input{
	width: calc(100% - 50px);
}

.prefs{
	padding: 0 10px;
	padding-bottom: 20px;
}

.prefs p{
	display: flex;
	vertical-align: middle;
	align-items: center;
}

.prefs label{
	min-width: 110px;
	width: 110px;
}

.prefs input[type=text], .prefs textarea{
	flex-grow: 1;
}

.prefs input[type=number]{
	width: 50px;
}

.prefs .ui-menu {
	position: absolute;
	width: 70px;
}

.prefs .ui-checkboxradio-label{
	min-width: 220px;
	text-align: left;
}

#tabs-definitions{
	overflow: auto;
}

#tabs-snippets{
	overflow: auto;
}

#tabs-notes{
	display: flex;
}

#notes{
	flex-grow: 1;
	padding: 5px;
}

.ui-menu{
	z-index: 1;
}

.ui-menu .ui-menu-divider{
	float: left;
	clear: left;
}

.ui-menu .ui-menu-item-wrapper{
	display: block;
	white-space: nowrap;
	padding: 0 1em 0 2em !important;
	line-height: 2.4em;
}

#picker{
	position: absolute;
	z-index: 100;
	display: block;
	background: #fff;
}

.preview_toolbar{
	display: flex;
}

.preview_toolbar .custom-combobox, .preview_toolbar .custom-combobox-input{
	flex: 2;
}

/* stretch site dropdown */
#addressbar{
	padding: 2px;
}

#addressbar span{
	display: block;
}

#addressbar .custom-combobox-input{
	width: calc(100% - 50px);
}

.vbox {
	display: flex;
	align-content: stretch;
	flex-direction: column;
	height: 100%;
}

.hbox {
	display: flex;
	align-content: stretch;
}

.hbox p{
	display: flex;
	vertical-align: middle;
	align-items: center;
}

.flex{
	flex: 2;
}

.newTab{
	padding: 10px;
}

.newTab ul{
	list-style: none;
	padding: 0;
	font-size: 12px;
	margin: 0;
}

.newTab li div, .newTab .toggleMore{
	text-decoration: none;
	font-size: 12px;
	cursor: pointer;
}

.newTab li div:hover, .newTab .toggleMore:hover{
	text-decoration: underline !important;
}

.newTab .box li div, .newTab .box > div{
	display: block;
	text-overflow: ellipsis;
	overflow: hidden;
	padding: 8px 12px;
	white-space: nowrap;
	position: relative;
}

.newTab .box{
	padding-bottom: 10px;
	margin: 10px;
}

.newTab .columns{
	display: flex;
	flex-wrap: wrap;
}

.newTab .columns .box{
	min-width: 200px;
	flex: 1;
}

.newTab h3{
	margin: 0;
	padding: 10px;
}

.newTab button{
	float: right;
	margin-top: -6px;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 50%;
	white-space: nowrap;
}

.newTab .other li a, .newTab .repos li a, .newTab .moreRepos li a{
	padding-left: 30px;
}

.newTab .other li a i, .newTab .repos li a i, .newTab .moreRepos li a i, .newTab .handle{
	margin-top: 2px;
	margin-left: -20px;
	float: left;
}

.newTab a:hover .handle{
	cursor: move;
	background-image: linear-gradient(90deg, transparent 50%, #999 50%);
	background-size: 2px;
	width: 5px;
	top: 0;
	bottom: 0;
	left: 22px;
	position: absolute;
	margin: 2px -20px;
}

.newTab .news{
	margin-bottom: 0;
}

.newTab .news .copy{
	padding: 0 10px 10px
}

.newTab .news .inner{
	position: relative;
}

.newTab .news h3{
	padding: 6px 10px 4px 10px;
}

.newTab .news .closeButton{
	position: absolute;
	right: 5px;
	top: 5px;
	opacity: 0.5;
}

.newTab .news .closeButton:hover {
	opacity: 1;
}

.newTab .remove {
	position: absolute;
	right: 0;
	top: 0;
	opacity: 0.5;
	display: none;
	padding: 10px;
	cursor: default;
}

.newTab a:hover > .remove {
	display: inline;
}

.newTab .remove:hover {
	opacity: 1;
}

#dialog-addRepositories button{
	line-height: 48px;
	width: 100%;
	padding-left: 60px;
	font-size: 20px;
	margin: 10px 0;
}

#dialog-addRepositories i{
	font-size: 50px;
	position: absolute;
	left: 20px;
}

.fileTypes, .moreFileTypes{
	min-height: 20px;
}

.dropable{
	border: 2px dashed #ccc;
}

.editor{
	flex-grow: 1;
	position: relative;
}

.design{
	position: relative;
}

.design .tinymce{
	overflow: scroll;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 0 10px;
	color: #000;
	background: #fff;
	font-family: Times New Roman;
}

.mce-notification {
	display: none;
}

/* tinymce dialog must be lower than jquery ui */
.mce-fade {
	z-index: 99 !important;
}

.mce-floatpanel {
	z-index: 100 !important;
}

.mce-tinymce{
	border: 0 !important;
}


.ui-button {
	line-height: 2em !important;
}

/* stretch site dropdown */
#sitebar, #gitBranchBar{
	padding: .4em 1em;
	cursor: default;
	position: relative;
	border: 0;
	line-height: 2em;
}

#sitebar .label, #gitBranchBar .label{
	position: absolute;
}

#sitebar .caret, #gitBranchBar .caret{
	position: absolute;
	right: 5px;
}

#sitebar span, .preview_toolbar span{
	display: block;
}

#sitebar .custom-combobox-input, #dialog-site .custom-combobox-input, .preview_toolbar .custom-combobox-input{
	width: calc(100% - 50px);
}

#dialog-panel .filter{
	width: 50px;
	margin-right: 10px;
}

#dialog-panel ul{
	flex: 1;
	overflow-y: scroll;
	position: relative;
	margin-top: 10px;
}

#dialog-panel ul li i{
	position: absolute;
	right: 0;
	padding: 0 10px;
}

#dialog-site .custom-combobox{
	width: 100%;
}

#git_container a{
	display: inline-block;
	padding: 1em;
}

/* fixes bug in FF where scroll goes off screen*/
#tree-container {
	overflow: hidden;
}

.jstree-default .jstree-clicked{
	background: none;
}

.jstree-default .jstree-hovered{
	background: none;
}

.jstree-container-ul .jstree-loading > .jstree-ocl {
	position: relative;
	background: none !important;
}
.jstree-container-ul .jstree-loading > .jstree-ocl:before {
	content: "\f021";
	font-family: "Font Awesome\ 5 Free";
	left: 2px;
	position: absolute;
	top: 0;
	font-weight: 900;
	animation: a 2s infinite linear;
 }
 
.check:before {
	content: "\f00c";
	font-family: "Font Awesome\ 5 Free";
	font-weight: 900;
 }
 
 /* stretch site dropdown */
#gitBranchBar{
	padding: 2px;
}

#gitBranchBar span{
	display: block;
}

#gitBranchBar .custom-combobox-input{
	width: calc(100% - 50px);
	max-width: 100px;
}

#gitViewContainer {
	text-align: center;
	font-size: 10px;
	min-width: 116px;
}

#gitViewContainer .ui-button{
	margin: 0;
	padding: 6px 4px;
}

#gitMenu {
	position: absolute;
	z-index: 2;
}

#gitContentContainer{
	overflow: auto;
}

#gitChanges{
	overflow: auto;
}

#commitPanel{
	border-top: 1px solid #ccc;
	padding: 10px;
	text-align: center;
	height: 120px;
}

#commitPanel input, #commitPanel textarea{
	display: block;
	width: calc(100% - 20px);
	margin: 10px;
}

.d2h-file-list-title {
	font-weight: bold;
	padding: 1em;
	padding-bottom: 0;
	display: block;
}

.d2h-wrapper {
	color: #000;
	background: #fff;
}

/* splashscreen */
.splash{
	z-index: 100;
	color: #ccc;
	font-size: 20px;
	font-family: Verdana, Geneva, sans-serif;
	background: #222;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.splash .status{
	font-size:16px;
}

.splash .slow{
	position:absolute;
	bottom:40px;
	right:50px;
}

.splash .slow a{
	color: #ccc;
}

.splash .progress{
	width: 300px;
	display: inline-block;
}

.splash .progressbar{
	opacity: 0.2;
}

.notification{
	position: absolute;
	width: 260px;
	right: 20px;
	bottom: 20px;
	z-index: 100;
}

.notification .inner{
	position: relative;
	padding: 20px;
	opacity: 0.8;
	text-align: center;
}

.notification .dismiss{
	position: absolute;
	top: 2px;
	right: 2px;
}

/*
.ui-menubar .ui-menu{
	overflow-x: hidden;
	overflow-y: auto;
	max-height: 400px;
}
*/

#args{
	position: absolute;
	z-index: 100;
	font-size: 12px;
	border: 1px solid #000;
	padding: 2px;
	background-color: #ffffe1;
	display: inline-block;
	white-space: nowrap;
	color: #000;
}

.closable:hover .tabCloseButton {
	display: block;
}

.virtual_keyboard{
	background: #000;
	color: #fff;
	height: 50px;
	width: 100%;
}

.virtual_keyboard ul{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	flex-wrap: wrap;
}

.virtual_keyboard li {
	flex-basis: 11.5%;
	overflow: hidden;
	border: 1px solid transparent;
}

.virtual_keyboard li.active {
	border-color: #fff;
}

.virtual_keyboard div{
	cursor: default;
	padding: 5px;
	text-align: center;
}

.keyboard{
	width:790px; height: 260px;
	background-color: #111;
	margin: 0px auto;
	border-radius: 9px;
	padding: 30px;
	color: #eee;
}

.keyboard .key{
	width: 40px; height:40px;
	display:block;
	background-color:#333;
	text-align: left;
	padding-left: 8px;
	line-height: 29px;
	border-radius:2px;
	float:left; margin-left: 2px;
	margin-bottom:2px;
	/*transition: box-shadow 0.7s ease;*/
}

.keyboard .section-a{width:650px; height:260px; float:left;}
.keyboard .section-b{width:126px; height:260px; float:left;}

.keyboard .function{font-size: 12px; width:30px; height:30px; margin-bottom:15px;}
.keyboard .small{font-size:10px; line-height:13px; text-align: center; padding:0 5px; padding-top:2px; height:28px !important;}
.keyboard .space1{margin-right: 43px !important;}
.keyboard .space2{margin-right: 25px !important;}
.keyboard .dual {font-size: 14px; line-height: 20px; width:30px; }
.keyboard .backspace {width:84px; font-size: 12px;}
.keyboard .tab {width: 50px; line-height: 40px; font-size:13px;}
.keyboard .letter{width:30px;}
.keyboard .slash{width:64px;}
.keyboard .caps{width:70px; font-size:12px; line-height:18px;}
.keyboard .enter{width:92px; line-height:40px; text-align: center; padding-left:0;}
.keyboard .shift.left{width: 90px;line-height: 40px; font-size:13px;}
.keyboard .shift.right{width: 104px;line-height: 40px; font-size:13px;}
.keyboard .ctrl{width: 50px; line-height: 40px; font-size:13px;}
.keyboard .space{width:234px;}
.keyboard .arrows{position:relative; top:42px;}
.keyboard .sec-func .key{width: 32px; font-size:10px; text-align:left; line-height:40px; float:left;}
.keyboard .sec-func div.dual{line-height:20px;}
.keyboard .arrows .key{text-align: center; padding-left: 7px; margin-left:2px;}
.keyboard .hidden{visibility: hidden;}

.keyboard .available {
	background: green;
}
.keyboard .pressed {
	background: orange !important;
}

#keyBindingInput{
	height: 0;
	width: 0;
	padding: 0;
	border: 0;
	font-size: 0;
}

#dialog-keyBindings .prefs button{
	margin: 0 10px;
	width: 140px;
}

.link{
	cursor: pointer;
	color: #15c;
}

.link:hover{
	text-decoration: underline;
}