/* START LAYOUT */

/* remove padding and scrolling from elements that contain an Accordion OR a content-div */
.ui-layout-center ,	/* has content-div */
.ui-layout-west ,	/* has Accordion */
.ui-layout-east ,	/* has content-div ... */
.ui-layout-east .ui-layout-content { /* content-div has Accordion */
	padding: 0;
}
.ui-layout-center P.ui-layout-content {
	line-height:	1.4em;
	margin:			0; /* remove top/bottom margins from <P> used as content-div */
}
h3, h4 { /* Headers & Footer in Center & East panes */
	font-size:		1.1em;
	background:		#EEF;
	border:			1px solid #BBB;
	border-width:	0 0 1px;
	padding:		7px 10px;
	margin:			0;
}
.ui-layout-east h4 { /* Footer in East-pane */
	font-size:		0.9em;
	font-weight:	normal;
	border-width:	1px 0 0;
}

/*
 *	GLOBAL LAYOUT STYLES
 */
.ui-layout-content {
	overflow:		auto; /* add scrolling to content-divs (panel-wrappers) */
	border-top:		0 !important; /* tab-buttons above this DIV already has a border-bottom */
	padding: 0;
}

.ui-layout-content > div {
    height: 100%;
}

/*
 *	TAB-THEME ADJUSTMENTS
 */
.ui-tabs-nav li {
	white-space:	nowrap;
}
.ui-tabs-nav li a {
	font-size:		1em !important;
	padding:		4px 1.5ex 3px !important;
}
.ui-tabs-panel {
	font-size:		1em !important;
	padding:		0 !important;
}
.ui-tabs .ui-tabs-nav li, .ui-tabs .ui-tabs-nav li.ui-tabs-active .ui-tabs-anchor, .ui-tabs .ui-tabs-nav li .ui-tabs-anchor{
	cursor: hand;
}

.ui-tabs .ui-tabs-panel{
    background: initial;
}

/*
 *	WEST-PANE TABS
 *
 *	These tabs 'fill' the pane,
 *	so the pane-border acts as the tab-border
 */
.ui-layout-pane-west {
	padding:	0;
	}
	.ui-layout-pane-west .ui-tabs-nav {
		/* don't need border or rounded corners - tabs 'fill' the pane */
		border-top:		0;
		border-left:	0;
		border-right:	0;
		padding-bottom:	0 !important;
		-moz-border-radius:		0;
		-webkit-border-radius:	0;
	}

.ui-layout-pane-north{
    padding: 0;
}

/*
 *	CENTER-PANE TABS
 *
 *	These tabs have white-space around them,
 *	so the content-div provides the border for the tabs
 */
.ui-layout-pane-center {
	padding:	10px;
	}
	.ui-layout-pane-center .ui-tabs-nav {
		/* remove rounded corners from bottom of 'tabs'*/
		-moz-border-radius-bottomleft:		0;
		-moz-border-radius-bottomright:		0;
		-webkit-border-bottom-left-radius:	0;
		-webkit-border-bottom-right-radius:	0;
	}

/*
 *	EAST-PANE TABS
 *
 *	These are ordinary tabs - entire pane scrolls
 */
.ui-layout-pane-east {
	padding:	10px;
	overflow:	auto; /* scroll - tab-panels taller than pane - without content-div */
	}
	.ui-layout-pane-east .ui-tabs-nav {
		/* remove rounded corners from bottom of 'tabs'*/
		-moz-border-radius-bottomleft:		0;
		-moz-border-radius-bottomright:		0;
		-webkit-border-bottom-left-radius:	0;
		-webkit-border-bottom-right-radius:	0;
	}
	.ui-layout-pane-east .ui-tabs-panel {
		background:	#FFF;			/* ui-tab-panel class removes ui-widget-content background - restore it */
		border:		1px solid #AAA;	/* ditto for the ui-widget-content border */
		border-top-color:	#FFF;
	}

div.buttons {
	float:			right;
	margin-right:	200px;
	margin-top:		0;
}

/* END LAYOUT */

/* START PAGING */
.ui-tabs-active a {
   padding: 2px 9px 1px;
   margin-bottom: -1px;
   overflow: visible;
}
.ui-tabs-hide {
   display: none;
}
.ui-tabs-panel {
   padding: 0;
}

.ui-tabs-paging-next {
	float: right !important;
}
.ui-tabs-paging-prev,
.ui-tabs-paging-next {
	background: transparent !important;
	border: 0 !important;
	margin-bottom: 1px !important;
}
.ui-tabs-paging-prev a,
.ui-tabs-paging-next a {
    display: block;
    position: relative;
    top: 1px;
    border: 0;
    z-index: 2;
    padding: 0;
    text-decoration: none;
	background: transparent !important;
	cursor: pointer;
}
.ui-tabs-paging-disabled {
	visibility: hidden;
}
/* END PAGING */

/* START TREE */
#tree { float:left; min-width:319px; border-right:1px solid silver; overflow:auto; padding:0px 0; }
#data { margin-left:320px; }
#data textarea { margin:0; padding:0; height:100%; width:100%; border:0; background:white; display:block; line-height:18px; resize:none; }
#data, #code { font: normal normal normal 12px/18px 'Consolas', monospace !important; }

#tree .folder { background:url('../lib/jstree/file_sprite.png') right bottom no-repeat; }
#tree .file { background:url('../lib/jstree/file_sprite.png') 0 0 no-repeat; }
#tree .file-pdf { background-position: -32px 0 }
#tree .file-as { background-position: -36px 0 }
#tree .file-c { background-position: -72px -0px }
#tree .file-iso { background-position: -108px -0px }
#tree .file-htm, #tree .file-html, #tree .file-xml, #tree .file-xsl { background-position: -126px -0px }
#tree .file-cf { background-position: -162px -0px }
#tree .file-cpp { background-position: -216px -0px }
#tree .file-cs { background-position: -236px -0px }
#tree .file-sql { background-position: -272px -0px }
#tree .file-xls, #tree .file-xlsx { background-position: -362px -0px }
#tree .file-h { background-position: -488px -0px }
#tree .file-crt, #tree .file-pem, #tree .file-cer { background-position: -452px -18px }
#tree .file-php { background-position: -108px -18px }
#tree .file-jpg, #tree .file-jpeg, #tree .file-png, #tree .file-gif, #tree .file-bmp { background-position: -126px -18px }
#tree .file-ppt, #tree .file-pptx { background-position: -144px -18px }
#tree .file-rb { background-position: -180px -18px }
#tree .file-text, #tree .file-txt, #tree .file-md, #tree .file-log, #tree .file-htaccess { background-position: -254px -18px }
#tree .file-doc, #tree .file-docx { background-position: -362px -18px }
#tree .file-zip, #tree .file-gz, #tree .file-tar, #tree .file-rar { background-position: -416px -18px }
#tree .file-js { background-position: -434px -18px }
#tree .file-css { background-position: -144px -0px }
#tree .file-fla { background-position: -398px -0px }
/* END TREE */

.ace_editor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 100%;
}

#serverProgress {
	position: absolute;
	top: 0px;
	width: 100%;
	z-index: 1000000000000;
	margin: 10px;
	opacity: 0.8;
	text-align: center;
}

#serverProgress strong{
    background: #f9edbe;
    padding:5px;
    border-radius: 5px;
    border: 1px solid #f0c36d;
}

.vakata-context .vakata-contextmenu-shortcut{
    display: inline;
    opacity: 1;
}